Django<5
djangorestframework
psycopg2
django-constance
django-environ
django-filter
django-picklefield
structlog
grafana-api
uwsgi
whitenoise
djangorestframework-simplejwt
django-rest-registration
django-admin-rangefilter
huey
ruuvitag-sensor
bleson
simple_ruuvitag
