Django==3.0.7
djangorestframework==3.11.0
psycopg2==2.8.5
ruuvitag-sensor==1.1.0
bleson==0.0.10
django-constance==2.6.0
django-environ==0.4.5
django-filter==2.2.0
django-picklefield==2.1.1
structlog==20.1.0
simple-ruuvitag==0.0.5
grafana-api==1.0.2
uwsgi==2.0.19.1
whitenoise==5.1.0
djangorestframework-simplejwt==4.4.0
django-rest-registration==0.5.6
django-admin-rangefilter==0.6.0
huey==2.2.0
