-r requirements.txt
PyYAML==6.0
django-extensions==3.1.5
factory-boy==3.2.1
flake8==5.0.4
ipdb
pytest-django==4.5.2
pytest-sugar==0.9.5
pytest==7.1.2
requests-mock==1.9.3
requests==2.28.1
schemathesis
testfixtures==7.0.0
uritemplate==4.1.1