Django==3.1.7
djangorestframework==3.12.2
psycopg2==2.9.3
ruuvitag-sensor==1.1.0
bleson==0.1.6
django-constance==2.8.0
django-environ==0.4.5
django-filter==2.4.0
django-picklefield==3.0.1
structlog==21.5.0
simple-ruuvitag==0.0.6
grafana-api==1.0.3
uwsgi==2.0.19.1
whitenoise==6.1.0
djangorestframework-simplejwt==4.6.0
django-rest-registration==0.5.6
django-admin-rangefilter==0.8.1
huey==2.3.0
