[Unit]
Description=Watch Sensor Events Service
After=multi-user.target

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=~/.venv/bin/python ~./watch_sensor_events.py
Restart=on-failure

[Install]
WantedBy=multi-user.target