[Unit]
Description=Watch Sensor Events Service
After=multi-user.target

[Service]
ExecStart=/home/pi/.venv/bin/python /home/pi/ruuvitag_gateway.py
Restart=always

[Install]
WantedBy=multi-user.target